@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
}


  :root {
    --primary-background: #0f172a;
    --secondary-background: #020617;
    --primary-accent: #38bdf8;
    --secondary-accent: #22d3ee;
    --text-primary: #e5e7eb;
    --text-muted: #94a3b8;
    
  }


body {
  background-color: var(--primary-background);
  color: var(--text-primary);
  font-family: "DM Sans", sans-serif;
}

.section {
  background-color: var(--secondary-background);
}

.button-primary {
  background-color: var(--primary-accent);
  color: var(--secondary-background);
}

.text-muted {
  color: var(--text-muted);
}